# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.mat
*.fig
aa1233321.m
across_zero_rate.m
aenergy_ratio.m
aligang.m
frequency.m
frame2time.m
cut_yuzhi8.m
cross_zero_rate.m
convert_dat_mat.m
carsmall.m
svmStruct2_3.mat
svmStruct1_0.mat
*.mat
*.mat
ayuzhi.m
